* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #ececec;
    --second-color: #F8B195;
    --third-color: #C06C84;
    --fourth-color: #6C5B7B;
    --fifth-color: #355C7D;
}


body {
    background-image: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
}

header {
    margin: 20px 20px 20px 20px;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    background-color: var(--first-color);
    color: var(--fifth-color);
    display: flex;
    flex: 1 1 300px;
    justify-content: space-between;
    position: sticky; top: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    margin-left: 20px;
}

header nav {
    margin: 10px 20px 10px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 24px;
    text-decoration: none;
    color: var(--fifth-color);
}

#about-me {
    margin: 20px 20px 20px 20px;
    background-color:var(--first-color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
}

#about-me h2 {
    color: var(--fourth-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    float: left;
    padding: 20px;
}

.bio {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.bio img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bio p {
    color: var(--fourth-color);
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
    margin-left: 35px;
}

.portfolio {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, .5); */
}

#portfolio h2 {
    color: var(--first-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    float: left;
    padding: 20px;
}

.featured-project {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

.featured-project p {
    color: var(--fifth-color);
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 300px;
    margin: 0px 20px 20px 20px;
}

.portfolio-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.website {
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
    margin: 0px 0px 20px 20px;
}

.place-holder {
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
    margin: 20px 0px 0px 20px;
}

.portfolio-links p {
    color: var(--fifth-color);
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 300px;
    margin: 40px 40px 40px 0px;
}

#portfolio img {
    margin: 40px 40px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out; 
}

#portfolio img:hover {
    transform: scale(1.1);
}

#connect {
    margin: 20px 20px;
    background-color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
}

#connect h2 {
    color: var(--fourth-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
}

.connect-links {
    background-color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#connect img {
    transition: all .3s ease-in-out; 
}

#connect img:hover {
    transform: scale(1.1);
}

#connect p {
    color: var(--fourth-color);
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.instagram, .email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin: 20px 20px;
    color: var(--first-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin-top: 20px;
    font-size: 16px;
}

footer p {
    margin-botton: 20px;
    font-size: 12px;
}
